.font--raleway{
	font-family:'Raleway';
}

.font--sacramento{
	font-family: 'Sacramento';
}

.font--satisfy{
	font-family: 'Satisfy';
}

.font--allura{
	font-family: 'Allura';
}

.font--homemade-apple{
	font-family: 'Homemade Apple';
}

.font--parisienne{
	font-family: 'Parisienne';
}