.post-gallery{
	width:fit-content;
	list-style-type: none;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-left:0px;
}

.post-gallery__thumbnail{
	display:inline-block;
	width:150px;
	height:150px !important;
	margin-left:auto;
	margin-right:auto;
}

.post-gallery__thumbnail:hover{
	cursor: pointer;
	box-shadow: 1px 1px 20px #000000;
}

.post-gallery__thumbnail-image{
	width:auto;
	height:inherit;
	position:absolute;
	top:0;
}

/* Modal Styles */
.lightbox-modal{
	display:none;
	position:fixed;
	z-index:1;
	padding-top:100px;
	left:0;
	top:0;
	width:100%;
	height:100%;
	max-height: 100vh !important;
	overflow:auto;
	background-color:black;
}

.lightbox-modal__content{
	position:relative;
	background-color:#fefefe;
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding:0;
	width:fit-content;
	max-width:100%;
}

.lightbox-modal__slides-image{
	width:100%;
}

/* Close button */
.close{
	color:white;
	position:absolute;
	top: 10px;
	right:25px;
	font-size:35px;
	font-weight:bold;
}

.close:hover, .close:focus{
	color:#999;
	text-decoration:none;
	cursor:pointer;
}

/* Hide slides by default */
.lightbox-modal__slides{
	display:none;
}

/* Next & Previous buttons */
.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* Caption text */
.caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}

.thumbnail-row{
	display: inline-block;
	margin-left: auto;
	margin-right:auto;
}
.column{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
}
img.lightbox-thumbnail {
	opacity: 0.6;
	width:100%;
	max-width: 150px;
	display:inline-block;
}

.active,
.lightbox-thumbnail:hover {
	opacity: 1;
}

img.hover-shadow {
	transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}