/* Wordpress defaults */

img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

:root{
	--Parisienne: 'Parisienne', cursive;
	--HomemadeApple: 'Homemade Apple', cursive;
	--Allura: 'Allura', cursive;
	--Sacramento: 'Sacramento', cursive;
	--Satisfy: 'Satisfy', cursive;
	--Raleway: 'Raleway', sans-serif;
}

body, h1, h2, h3, h4, h5, p, span{
	font-family: 'Raleway', sans-serif;
}

.blog-posts__list{
	list-style-type: none;
	width:100%;
	padding-left:0px !important;
}

.blog-posts__list-item{
	margin-left: auto;
	margin-right: auto;
	width:100%;
}

.blog-posts__list-item-title{
	text-align: center;
	width:100%;
	color:#000000;
}
.blog-posts__list-item-title a{
	color:#000000;
}

.blog-posts__list-item-image-wrapper{
	width:100%;
	margin-left: auto;
	margin-right:auto;
}

.blog-posts__list-item-image{
	width:100%;
	max-width: 700px;
	margin-left: auto;
	margin-right:auto;
	display: block;
}

.blog-posts__list-item-excerpt{
	max-width: 700px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.sidebar__home-right{
	margin-top:25px;
}

.sidebar__home-right>.sidebar-content-wrapper{
	padding:10px;
}

.sidebar__home-right-title{
	text-align: center;
}

.sidebar-content-wrapper>.es_form_container{
	width:fit-content;
	display:block;
	margin-left:auto;
	margin-right: auto;
}

.sidebar-content-wrapper>ul, .textwidget ul{
	list-style-type: none;
	width:fit-content;
	display:block;
	margin-left: auto;
	margin-right: auto;
	padding-left:0px;
}

.sidebar-content-wrapper>ul li a, .textwidget ul li a{
	color:#000000;
}

.sidebar-content-wrapper select{
	width:100%;
}

.sidebar-content-wrapper>.search-form input{
	border:1px solid #dddddd;
	border-radius: 5px;
	text-align:center;
	width:100%;
}

.search-form label{
	width:100%;
}

.sidebar-content-wrapper .search-form .search-submit{
	display:none;
}

.excerpt__read-more-button{
	display:block;
	width:fit-content;
	margin-left:auto;
	margin-right:auto;
}