.navbar-light, .bg-light{
	background-color:#ffffff !important;
}
.navbar-brand__has-logo{
	width:100%;
	
}

button.navbar-toggler{
	border:none;
}

.custom-logo{
	max-width:540px;
	display: block;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}