.page-header{
	background: linear-gradient(90deg, #B26458, #d28978);
	min-height:200px;
}

.page-hero{
	height:600px;
	max-height:600px;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}

@media(max-width:768px){
	.page-hero{
		height:400px;
		background-position: center top;
	}
}
