.title-section{
	background-color:#404040;
	color:#f1f1f1;
	min-height:150px;
	flex-flow: row;
	align-items: center;
}

.post_hero{
	min-height:600px;
	background-color:#ffffff;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	height:100%;
}

@media(max-width:786px){
	.post_hero{
		background-size: cover;
		background-position: top center;
	}
}

.post_comments{
	list-style-type: none;
	padding-left:0px;
}

.post_comments .comment .children{
	list-style-type: none;
}

.comment-body a{
	color:#000000;
}