.homepage-header{
	overflow:hidden;
	width:100%;
	height:auto;
	max-height:800px;
	min-height:600px;
}

.carousel, .hero{
	height:inherit !important;
}

/* Hero */
.hero{
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center top;
	min-height: inherit;
	max-height: inherit;
	height: 600px;
}

/* Carousel */

.carousel-inner{
	overflow:hidden;
}

.carousel-item{
	overflow: hidden;
}

.carousel-item img{
	display:block;
	margin:auto;
}

@media(max-width768px){
	.carousel-inner, .carousel-item{
		max-height:600px;
	}
}

.featured-link-section{
	margin-top:50px;
	margin-bottom:50px
}

.featured-link-wrapper{
	padding:25px;
	padding-top:-25px;
	width:300px !important;
	height:300px !important;
	background-size: cover !important;
	background-repeat: no-repeat;
}

.featured-link-overlay{
	opacity:0.5;
	width:250px;
	height:250px;
	top:-25px;
}

.featured-link-title{
	color:#000000;
	font-size:16px;
	width:100%;
	text-align: center;
	position:relative;
	top:-50%;
	transform: translateY(-50%);
	z-index: 100;
}

.featured-link{
	opacity:1.5;
	font-size:36px;
	color:#000000;
}

@media(max-width:768px){
	.featured-link-section>.col-md-4, .featured-link-section>.col-md-3, .featured-link-section>.col-md-2 {
		margin-top:25px;
	}
}

/* Sidebar content */
.sidebar-content-wrapper{
	border:2px solid #b76e79;
	padding: 15px;
}

.sidebar-content__post-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height:auto;
	
}

.sidebar-content__post-excerpt{
	padding:15px;
}

.sidebar-content__post-title{
	text-align: center;
	padding:15px;
}

div.content{
	display:block;
	margin-left:auto;
	margin-right:auto;
}


.es_form_container{
	width:fit-content;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.es_form_container .es_shortcode_form .es_lablebox, .es_form_container .es_shortcode_form .es_textbox, .es_form_container .es_shortcode_form .es_button{
	display:inline;
}

.es_textbox .es_textbox_class{
	border:1px solid #dddddd;
	border-radius: 5px;
}

.gallery-grid{
	list-style-type: none;
	padding-left:0px;
	width:100% !important;	
}

.gallery-grid__item{
	display:inline !important;
	width:100%;
	max-width:100px;
}

.gallery-grid__image{
	width:inherit;
	max-width:inherit;
}

.gallery-grid__image:hover{
	cursor: pointer;
	box-shadow: 1px 1px 20px #000000;
}