.post-header{
	max-height:600px;
}

.post-header__featured-image{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	max-height:inherit;
	width:auto;
	max-width:100%;
}

.post-title{
	text-align: center;
}

.next-post-link, .previous-post-link{
	color:rgba(0,0,0,0.25);
}

.next-post-link:hover, .previous-post-link:hover{
	color:rgba(0,0,0,1.0);
}


.next-post-link, .previous-post-link{
	position:fixed;
	top:50%;
}

.next-post-link{
	float:left;
	left:5%;
}

.previous-post-link{
	float:right;
	right:5%;
}

@media(max-width:768px){
	.next-post-link, .previous-post-link{
		position:inherit;
		margin-bottom:50px;
	}
}

.form-submit>.submit{
	display: block;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	max-width:250px;
}

.comment-respond{
	width:100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.post-comments, .child-comments{
	list-style-type: none;
	margin-left:0px !important;
}


.comment-avatar{
	align-content:left;
}
.comment{
	width:100%;
	float:none;
}
.comment-author{
	float:left;
}
.comment-date{
	float:right;
}

.post-comments li{
	padding:15px;
}

.comment-text{
	width: 100% !important;
}

.comment-form{
	width:fit-content;
	display:inline;
	margin-left:auto;
	margin-right: auto;
}

.comment-input{
	width: 100%;
}

